/* Variables */

$green: rgb(232, 255, 215);
$ink: rgb(37, 37, 37);
$background: rgb(212, 233, 243);
$orange: rgb(255, 207, 125);
$hoverback: rgb(232, 255, 215);
@mixin background-transition($time) {
  -webkit-transition: background-color $time ease-in-out;
  -moz-transition: background-color $time ease-in-out;
  -o-transition: background-color $time ease-in-out;
  transition: background-color $time ease-in-out;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $ink;
  background-color: $background;
  padding: {
    top: 20px;
    bottom: 20px;
  }
}

a {
  color: rgb(77, 103, 143);
  &:hover {
    text-decoration: none;
  }
}

/* Classes */

.bm-item {
  // List item style
  // Removes bullet decoration on list items
  list-style-type: none;
  font-size: 1.1em;
} // Hide element
.hidden {
  display: none;
}

.caret {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -ms-transition: -ms-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  color: $ink;
}

.pulldown {
  transform: rotate(-90deg);
}

.box {
  border: 1px solid lightgray;
  background-color: $hoverback;
  border-radius: 0.3em;
  @include background-transition(0.3s);
  transition: transform 0.2s;
  -webkit-box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.75);
  .bm-name {
    font-size: 1.1em;
  }
}

.entry {
  margin: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: 1.1em;
}

.btn.btn-warning {
  background-color: $orange;
  border-color: #edcb82;
}

#main {
  max-width: 400px;
  border: 1px gray solid;
  background-color: white;
  padding: 30px;
  border-radius: 0.5em;
  -webkit-box-shadow: 1.5px 1.5px 4px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 1.5px 1.5px 4px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 1.5px 1.5px 4px 0px rgba(0, 0, 0, 0.55);
}

#bmList {

  li {
    border-radius: 0.2em;
    &:hover {
      background-color: $green;
      /*   border: solid 1px transparent; */
      @include background-transition(0.3s);
    }
    margin-top: 5px;
  }
}

#bmSearch {
  margin-bottom: 16px;
  font-size: 1.6em;
  padding: 7px;
  ;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
}