:root {
  --lightgreen: rgb(193, 250, 154);
  --ink: rgb(37, 37, 37);
  --background: white;
  --bm_orange: rgb(255, 207, 125);
}


body {
  color: var(--ink);
  background-color: var(--background);
}

a:hover {
  text-decoration: none;
}

body {
  padding-top: 40px;
  padding-bottom: 50px;
}

#main {
  max-width: 400px;
}

.bm-item {
  list-style-type: none;
}

.bmLink div {
  font-size: 1.1em;
}

.bmOptions {
  background-color: none;
}

.hidden {
  display: none;
}

.bm-row {
  border: solid 1px transparent;
  border-radius: 0.1em;
}

.bm-row:hover {
  background-color: var(--lightgreen);
  border-radius: 0.2em;
  border: solid 1px transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.caret {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -ms-transition: -ms-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  color: var(--ink);
}

.pulldown {
  transform: rotate(-90deg);
}

.box {
  border: 1px solid lightgray;
  background-color: lightblue;
  border-radius: 0.3em;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.box .bm-name {
  font-size: 1.1em;
  transition: transform 0.2s;
}

.entry {
  margin: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn.btn-warning {
  background-color: var(--bm_orange);
  border-color: #edcb82;
}

#myInput {
  background-image: url('/css/searchicon.png');
  /* Add a search icon to input */
  background-position: 10px 12px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}
